.square {
    width: 990px;
    height: 500px;
    position: fixed;
    top: -1%;
    left: -0.6%;
    background-color: #BAFFC0;
    border-color: #774342;
    border-style: solid;
    border-radius: 40px;
    overflow: auto;
    font-size: 14px;
    font-family: 10px;
    margin: 10px;
    line-height: 100%;
    display: grid;
    grid-template-columns: 100 100 100px;
    padding: 10px;
    scrollbar-width: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.grid-item {
    background-color: #BAFFC0;
    border: 1px solid #774342;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 40px;
    z-index: 2;
    
  }

.square2 {
    width: 510px;
    height: 525px;
    position: fixed;
    top: 0%;
    right: 0%;
    background-color: #BAFFC0;
    border-color: #774342;
    border-style: solid;
    border-radius: 40px;
    overflow: auto;
    font-size: 50px;
    overflow-y: auto;
    scrollbar-width: none;

}

#but {
    width: 100px;
    height: 50px;
    background-color: #BAFFC0;
    border-radius: 40px;
    position: fixed;
    left: 14%;
    bottom: 18%;
    text-align: center;
    line-height: 200%;
    color: #774342;
    border-color: #774342;
    font-size: larger;
    border-style: solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#but2 {
    width: 100px;
    height: 50px;
    background-color: #BAFFC0;
    border-radius: 40px;
    position: fixed;
    left: 40.5%;
    bottom: 18%;
    text-align: center;
    line-height: 200%;
    color: #774342;
    border-color: #774342;
    font-size: larger;
    border-style: solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#but3 {
    width: 100px;
    height: 50px;
    background-color: #BAFFC0;
    border-radius: 40px;
    position: fixed;
    left: 28%;
    bottom: 18%;
    text-align: center;
    line-height: 200%;
    color: #774342;
    border-color: #774342;
    font-size: larger;
    border-style: solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.textolol{
    text-align: center;
    line-height: 200%;
    color: #774342;
    border-color: #774342;
    font-size: larger;
    border-style: solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    right: 50px;
    top: 0px;
    z-index: 2;
}
