.square {
    width: 990px;
    height: 500px;
    position: fixed;
    top: -1%;
    left: -0.6%;
    background-color: #BAFFC0;
    border-color: #5FA626;
    border-style: solid;
    border-radius: 40px;
    overflow:auto;
    font-size: 14px;
    font-family: 10px;
    margin: 10px;
    line-height: 100%;
    display: grid;
    grid-template-columns: 100px;
    padding: 10px;

}

.grid-item {
    background-color: #BAFFC0;
    border: 1px solid #5FA626;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.square2 {
    width: 510px;
    height: 525px;
    position: fixed;
    top: 0%;
    right: 0%;
    background-color: #BAFFC0;
    border-color: #5FA626;
    border-style: solid;
    border-radius: 40px;
    overflow: auto;
    font-size: 50px;
}

#but {
    width: 100px;
    height: 50px;
    background-color: #BAFFC0;
    border-radius: 40px;
    position: fixed;
    left: 14%;
    bottom: 21%;
    text-align: center;
    line-height: 200%;
    color: #5FA626;
    border-color: #5FA626;
    font-size: larger;
    border-style: solid;

}

#but2 {
    width: 100px;
    height: 50px;
    background-color: #BAFFC0;
    border-radius: 40px;
    position: fixed;
    left: 40.5%;
    bottom: 21%;
    text-align: center;
    line-height: 200%;
    color: #5FA626;
    border-color: #5FA626;
    font-size: larger;
    border-style: solid;

}
